/* Baliana */
@font-face {
  font-family: 'Baliana';
  font-style: normal;
  font-weight: normal;
  src: local('Baliana'), url('../assets/fonts/baliana-font/Baliana.ttf') format('truetype');
}

/* Rostina */
@font-face {
  font-family: 'Rostina';
  font-style: normal;
  font-weight: normal;
  src: local('Rostina'), url('../assets/fonts/rostina-font/Rostina.ttf') format('truetype');
}

/* Snow Puppets */
@font-face {
  font-family: 'Snow Puppets';
  font-style: normal;
  font-weight: normal;
  src: local('SnowPuppets'), url('../assets/fonts/snow-puppets-font/SnowPuppets.ttf') format('truetype');
}

/*Bariol Fonts*/
@font-face {
  font-family: 'Bariol Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Bariol Regular'), url('../assets/fonts/bariol-cufonfonts-webfont/bariol_regular-webfont.woff') format('woff');
}  

@font-face {
  font-family: 'Bariol Regular Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Bariol Regular Italic'), url('../assets/fonts/bariol-cufonfonts-webfont/bariol_regular_italic-webfont.woff') format('woff');
}  

@font-face {
  font-family: 'Bariol Thin Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Bariol Thin Italic'), url('../assets/fonts/bariol-cufonfonts-webfont/bariol_thin_italic-webfont.woff') format('woff');
}  

@font-face {
  font-family: 'Bariol Thin';
  font-style: normal;
  font-weight: normal;
  src: local('Bariol Thin'), url('../assets/fonts/bariol-cufonfonts-webfont/bariol_thin-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Bariol Light';
  font-style: normal;
  font-weight: normal;
  src: local('Bariol Light'), url('../assets/fonts/bariol-cufonfonts-webfont/bariol_light-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Bariol Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Bariol Light Italic'), url('../assets/fonts/bariol-cufonfonts-webfont/bariol_light_italic-webfont.woff') format('woff');
}  

@font-face {
  font-family: 'Bariol Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Bariol Bold'), url('../assets/fonts/bariol-cufonfonts-webfont/bariol_bold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Bariol Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Bariol Bold Italic'), url('../assets/fonts/bariol-cufonfonts-webfont/bariol_bold_italic-webfont.woff') format('woff');
}

/* Open Sans */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Open Sans'), url('../assets/fonts/open-sans/OpenSans.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Open Sans Italic'), url('../assets/fonts/open-sans/OpenSans-Italic.ttf') format('truetype');
}