@import url('./var.css');

.header.active {
  position: relative;
}

.gallery {
  min-height: 100vh;
  width: calc(100% - 2vw);
  margin: 2vh 0;
  padding: 2vh 1vw;
  display: flex;
  flex-direction: column;
}

.gallery .switch {
  display: flex;
  flex-direction: row;
  width: fit-content;
  cursor: pointer;
}

.gallery .switch div {
  color: var(--gold-color);
  font-family: var(--baliana);
  font-weight: 800;
  font-size: var(--header-font);
  padding: 1vh 1vw;
  transition: all 0.8s ease-in-out;
}

.gallery .switch div:first-child {
  border-right: 1px solid var(--gold-color);
}
.gallery .switch div:hover {
  background-color: var(--gold-color);
  color: var(--light-color);
}

.gallery .pictures {
  display: flex;
  flex-direction: row;
  margin-top: 1vh;
}

.gallery .pictures div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2vh 1vw;
  margin-top: 1vh;
  overflow: hidden !important;
}

.gallery .pictures div img {
  width: 100%;
  min-height: 20px;
  object-fit: contain;
  transition: all 1s ease-in-out;
}

.gallery .pictures div img:hover {
  scale: 0.95;
}

.gallery .pictures .moments {
  width: 100%;
  transition: width 1s ease-in-out;
}

.gallery .pictures .moments.inactive {
  width: 0;
}

.gallery .pictures .foods {
  width: 100%;
  transition: width 1s ease-in-out;
}

.gallery .pictures .foods.inactive {
  width: 0;
}

@media screen and (max-width: 768px) {
  .gallery .pictures div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  } 
}

@media screen and (max-width: 426px) {
  .gallery .pictures div {
    display: flex;
    flex-direction: column;
  } 
}