@import url('./var.css');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    position: relative;
    background: url('../assets/images/welcome.jpg');
    background-attachment: fixed;
    background-repeat: none;
    font-family: var(--snow-puppets);
    font-size: var(--welcome-font);
    width: 100%;
    height: 80vh;
    text-align: center;
    justify-items: center;
}

.header span {
    position: absolute;
    top: calc(50% - (var(--welcome-font) / 2));
    left: 6%;
    color: #fff;
}

.main {
    margin: 2vh 0;
    padding: 2vh 2vw;
}

.main .welcome {
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin-bottom: 1vh;
    padding: 1vh 1vw;
}

.main .welcome span:first-child {
    color: var(--gold-color);
    font-family: var(--baliana);
    font-size: var(--header-font);
    font-weight: 800;
}

.main .welcome span:last-child {
    color: black;
    font-family: var(--bariol-regular);
    font-size: var(--main-font);
    text-transform: capitalize;
}

.main .menus {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1vh;
    padding: 1vh 1vw;
    width: 100%;
}

.main .menus .menus-title {
    color: var(--gold-color);
    font-family: var(--baliana);
    font-size: var(--header-font);
    font-weight: 800;
    width: fit-content;
}

.main .menus .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main .menus .menu .menu-row {
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin: 2vh 1vw;
    overflow: hidden;
}

.main .menus .menu .menu-row div {
    position: relative;
    margin: auto 1vh;
    text-align: center;
}

.main .menus .menu .menu-row div img {
    max-height: 30vh;
    width: 100%;
}

.main .menus .menu .menu-row div div {
    position: absolute;
    margin: 0;
    top: 0;
    width: 100%;
    height: 20%;
    display: flex;
    color: var(--light-color);
    font-family: var(--bariol-regular);
    font-size: var(--header-font);
    backdrop-filter: blur(34px);
    transition: top 1s ease-in-out;
}

.main .menus .menu .menu-row div div span {
    margin: auto auto 1vh 1vw;
    width: fit-content;
}